<!-- @include _header -->
<!-- @include _nav -->

.hero.hero-model
	.container
		%p.quote "In the midst of difficulty lies opportunity"
		.quote-author Albert Einstein

.container-narrow
	.group
		.col.span_1_of_7
			.number I
		.col.span_6_of_7
			%p Atlantis ensures that clients will benefit from up-to-date and informed advice regarding global events, technological innovations and market conditions to enable a truly global view to be established prior to considering investment opportunities.
	.group
		.col.span_1_of_7
			.number II
		.col.span_6_of_7
			%p Clients custody their assets with any of five global custodian banks with which Atlantis has a working relationship with, ensuring that clients are safe and independent from any Atlantis risk. The client can also select which jurisdiction they prefer their assets to be held under.
	.group
		.col.span_1_of_7
			.number III
		.col.span_6_of_7
			%p Clients are able to benefit from the knowledge and security that Atlantis is a fully regulated and independent firm licensed by the Financial Conduct Authority in London.
	.group
		.col.span_1_of_7
			.number IV
		.col.span_6_of_7
			%p The firm is currently counterparty to all major investment banks which enable the firm to provide clients with the best possible market pricing.
<!-- @include _footer -->