label, select {
  display: block; }

label {
  font-size: 16px !important;
  line-height: 1;
  margin: 0 0 4px 0; }

.form-group {
  margin-bottom: 16px; }

input {
  font-family: "europa"; }
  input:focus {
    outline: none; }

textarea {
  resize: none; }
  textarea:focus {
    outline: none; }

select {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

::-webkit-input-placeholder {
  color: black; }

::-moz-placeholder {
  color: black; }

:-moz-placeholder {
  color: black; }

:-ms-input-placeholder {
  color: black; }

form {
  border: 1px solid black;
  padding: 60px; }

input[type="text"], textarea {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  box-shadow: none;
  text-shadow: none;
  padding: 18px 0 18px 0;
  width: 100%;
  float: left;
  background: none;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid black;
  color: black;
  border-radius: 0;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; }
  input[type="text"]:hover, textarea:hover {
    background-image: none !important;
    box-shadow: none !important; }

.blocks {
  margin: 0; }
  .blocks li {
    list-style-type: none; }

.blocks-2 {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .blocks-2 li {
    float: left;
    margin-bottom: 30px; }

.blocks-3 li {
  height: 200px;
  margin-bottom: 30px; }
  .blocks-3 li:nth-child(4n) {
    margin-left: 0; }

.blocks-4 li {
  float: left;
  list-style-type: none; }
  .blocks-4 li:nth-child(5n) {
    margin-left: 0; }

.blocks-6 li {
  float: left;
  list-style-type: none; }
  .blocks-6 li:nth-child(3n+1) {
    margin-left: 0; }

.red {
  background-color: #E44249; }

.container {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.container-small {
  width: 90%;
  max-width: 500px;
  margin: auto; }

.container-narrow {
  width: 75%;
  max-width: 600px;
  margin: auto; }
  @media only screen and (max-width: 768px) {
    .container-narrow {
      width: 90%; } }

.l-white {
  background-color: white; }

.l-high {
  padding: 120px 0 120px 0; }
  @media only screen and (max-width: 480px) {
    .l-high {
      padding: 60px 0 60px 0; } }

.l-custom {
  background: url("assets/images/lab.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .l-custom h2 {
    color: white; }

.bt-1 {
  border-top: 1px solid #E2E2E1; }

.strap-line {
  text-align: center;
  color: #e3626e;
  font-family: "adobe-caslon-pro";
  font-style: italic;
  font-size: 30px;
  max-width: 600px;
  margin: 40px auto 40px; }
  @media only screen and (max-width: 480px) {
    .strap-line {
      font-size: 20px; } }

.lines {
  width: 300px;
  border-top: 1px solid #e3626e;
  margin: auto; }
  @media only screen and (max-width: 480px) {
    .lines {
      width: 150px; } }

article {
  position: relative; }

section, article {
  padding: 100px 0 100px 0;
  clear: both; }
  section:last-child, article:last-child {
    margin: 0; }
  @media only screen and (max-width: 480px) {
    section, article {
      padding: 32px 0 32px 0; } }

.group {
  display: block;
  margin: 24px 0 24px 0; }
  .group:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }

.col, .blocks li, .blocks-4 li, .blocks-6 li {
  float: left;
  display: block;
  margin: 1% 0 1% 2%; }
  .col:first-child, .blocks li:first-child, .blocks-4 li:first-child, .blocks-6 li:first-child {
    margin-left: 0; }

.span_1_of_2, .blocks-2 li {
  width: 45%; }
  @media only screen and (max-width: 768px) {
    .span_1_of_2, .blocks-2 li {
      width: 100%; } }

.span_2_of_2 {
  width: 100%; }

.span_3_of_3 {
  width: 100%; }

.span_2_of_3 {
  width: 66%; }
  @media only screen and (max-width: 768px) {
    .span_2_of_3 {
      width: 100%; } }

.span_1_of_3, .blocks-3 li {
  width: 32%; }
  @media only screen and (max-width: 768px) {
    .span_1_of_3, .blocks-3 li {
      width: 100%; } }

.span_1_of_4, .blocks-4 li {
  width: 22%; }
  @media only screen and (max-width: 768px) {
    .span_1_of_4, .blocks-4 li {
      width: 100%; } }

.span_1_of_7 {
  width: 16%; }

.span_6_of_7 {
  width: 82%; }

header {
  background: white;
  width: 100%;
  z-index: 9999;
  padding: 20px; }

.number {
  font-family: "adobe-caslon-pro", Georgia, Times, serif;
  color: #1637b0;
  font-size: 28px;
  display: inline-block;
  border-radius: 40px; }

.photo-overlay {
  position: absolute;
  top: 50%;
  width: 800px;
  margin-top: -165px;
  left: 50%;
  margin-left: -400px;
  line-height: 1.5;
  text-align: center;
  color: white;
  padding: 50px; }
  .photo-overlay p {
    margin-bottom: 40px;
    font-family: "adobe-caslon-pro", Georgia, Times, serif;
    font-weight: 100;
    line-height: 1.5;
    font-style: italic;
    font-size: 36px; }
  .photo-overlay .title {
    margin-bottom: 30px;
    color: white; }
  .photo-overlay .inner {
    border: 1px solid black;
    padding: 35px; }

.primary-nav {
  padding-top: 18px;
  text-align: right;
  z-index: 9999;
  color: #DBD7CA; }
  .primary-nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0; }
  .primary-nav li {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    display: inline-block;
    margin: 0 30px 0 0;
    padding: 0; }
    @media only screen and (max-width: 768px) {
      .primary-nav li {
        display: list-item; } }
    .primary-nav li:last-child {
      margin: 0; }
    .primary-nav li a {
      text-decoration: none; }
  @media only screen and (max-width: 768px) {
    .primary-nav li {
      width: 100%; } }
  .primary-nav li a {
    color: #1637b0;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out; }
    .primary-nav li a:hover {
      color: #050d28; }

.copyright {
  line-height: 1.5; }

.quote-author {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400; }

.primary-nav-mobile {
  display: none;
  visibility: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 25px;
  z-index: 9999; }
  .primary-nav-mobile .line {
    width: 100%;
    display: block;
    margin-bottom: 4px;
    background-color: black;
    height: 1px; }
    .primary-nav-mobile .line:last-child {
      margin-bottom: 0; }
  @media only screen and (max-width: 768px) {
    .primary-nav-mobile {
      display: block;
      visibility: visible; } }

.social {
  position: fixed;
  top: 15px;
  left: 15px;
  text-align: center;
  width: 14px;
  z-index: 9999; }
  .social ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .social li {
    margin-bottom: 15px;
    opacity: 0.6; }
    .social li:hover {
      opacity: 1; }
  @media only screen and (max-width: 768px) {
    .social {
      display: none; } }

.footer-nav {
  margin-bottom: 30px;
  color: white; }
  .footer-nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0; }
  .footer-nav li {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    display: inline-block;
    margin: 0 30px 0 0;
    padding: 0; }
    @media only screen and (max-width: 768px) {
      .footer-nav li {
        display: list-item; } }
    .footer-nav li:last-child {
      margin: 0; }
    .footer-nav li a {
      text-decoration: none; }
  @media only screen and (max-width: 768px) {
    .footer-nav {
      display: none; } }
  .footer-nav li {
    margin-right: 10px;
    color: white; }

.posted {
  font-family: "adobe-caslon-pro";
  line-height: 1;
  display: inline-block;
  position: absolute;
  top: 66px;
  text-align: center;
  left: -80px;
  border: 1px solid black; }
  .posted .date {
    font-size: 16px;
    font-style: italic;
    display: block;
    padding: 15px 10px 10px 10px;
    font-weight: 100; }
  .posted .month {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px 10px 10px 10px;
    background: black;
    color: #FFFAEC; }

.secondary-nav {
  margin-bottom: 24px; }
  .secondary-nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0; }
  .secondary-nav li {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    display: inline-block;
    margin: 0 30px 0 0;
    padding: 0; }
    @media only screen and (max-width: 768px) {
      .secondary-nav li {
        display: list-item; } }
    .secondary-nav li:last-child {
      margin: 0; }
    .secondary-nav li a {
      text-decoration: none; }

.logo {
  display: block;
  position: relative;
  background-image: url(../images/logo-colour.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 180px;
  height: 52px;
  margin: 0 auto 0; }
  .logo:hover {
    border-bottom: 0; }
  @media only screen and (max-width: 480px) {
    .logo {
      width: 100px; } }

.clear {
  clear: both; }

.heading-line-white {
  background-color: white; }

.heading-lines {
  position: relative;
  border-top: 1px solid black;
  display: block;
  width: 600px;
  margin: auto; }
  .heading-lines h1 {
    position: relative;
    background: #FFFAEC;
    padding: 0 20px 0 20px;
    display: inline-block;
    top: -30px; }

.h-divider {
  border-top: 1px solid black;
  margin: auto; }

label {
  position: relative;
  top: -40px; }

footer {
  text-align: center;
  color: #999999;
  padding: 40px 0 40px 0; }
  footer .container {
    width: 600px; }

.line-test {
  width: 20px;
  height: 20px;
  background: red; }

.dates {
  font-size: 18px;
  font-family: Times;
  font-style: italic; }

.exhibit-1 {
  position: relative;
  background-image: url("../assets/images/exhibit-1.jpg");
  padding: 150px 0 150px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.exhibit-2 {
  position: relative;
  background-image: url("../assets/images/exhibit-2.jpg");
  padding: 150px 0 150px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.title {
  color: #1637b0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 16px; }

.quote {
  font-family: "adobe-caslon-pro", Georgia, Times, serif;
  font-size: 40px;
  font-style: italic; }

.intro {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/hero/Set_11.jpg);
  height: 100%; }
  .intro .container {
    height: 100%; }

.homepage {
  background: transparent; }

.hero-homepage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../assets/images/home/hero_homepage_2.jpg");
  height: 100%; }

.hero-text {
  text-align: center;
  padding: 80px 0 80px 0; }

.hero {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 0 150px 0;
  color: white;
  text-align: center;
  margin-bottom: 60px; }
  .hero .title {
    color: white; }

.hero-philosophy {
  background-image: url(../images/hero-philosophy.jpg); }

.hero-model {
  background-image: url(../images/hero-model.jpg); }

.hero-team {
  background-image: url(../images/hero-team.jpg); }

.hero-services {
  background-image: url(../images/hero-services.jpg); }

.hero-contact {
  padding: 0;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%); }

.email {
  padding: 20px;
  font-weight: 100;
  color: #1637b0;
  text-align: center;
  font-size: 30px;
  font-weight: normal; }

.details {
  color: #1637b0;
  font-size: 20px;
  text-align: center; }

.map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  vertical-align: baseline; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

.page-wrap {
  min-height: 100%;
  height: 100%;
  /* equal to footer height */
  margin-bottom: -100px; }
  .page-wrap:after {
    content: "";
    display: block; }

.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */ }

img {
  max-width: 100%; }

html {
  background-color: #F9F9F9;
  font-weight: 300;
  height: 100%;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif; }

body {
  font-size: 12px;
  height: 100%; }
  @media only screen and (max-width: 768px) {
    body {
      border: none; } }

a {
  cursor: pointer; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

html.mm-opened .mm-page,
html.mm-opened #mm-blocker,
html.mm-opened .mm-fixed-top,
html.mm-opened .mm-fixed-bottom,
html.mm-opened .mm-menu.mm-horizontal > .mm-panel {
  -webkit-transition: none 0.4s ease;
  -moz-transition: none 0.4s ease;
  -ms-transition: none 0.4s ease;
  -o-transition: none 0.4s ease;
  transition: none 0.4s ease;
  -webkit-transition-property: top, right, bottom, left, border, -webkit-transform;
  -moz-transition-property: top, right, bottom, left, border, -moz-transform;
  -ms-transition-property: top, right, bottom, left, border, -ms-transform;
  -o-transition-property: top, right, bottom, left, border, -o-transform;
  transition-property: top, right, bottom, left, border, transform; }

html.mm-opened .mm-page,
html.mm-opened #mm-blocker {
  left: 0%;
  top: 0;
  margin: 0;
  border: 0px solid rgba(0, 0, 0, 0); }

html.mm-opened.mm-opening .mm-page,
html.mm-opened.mm-opening #mm-blocker {
  border: 0px solid rgba(100, 100, 100, 0); }

.mm-menu .mm-hidden {
  display: none; }

.mm-fixed-top,
.mm-fixed-bottom {
  position: fixed;
  left: 0; }

.mm-fixed-top {
  top: 0; }

.mm-fixed-bottom {
  bottom: 0; }

html.mm-opened .mm-page,
.mm-menu > .mm-panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html.mm-opened,
html.mm-opened body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

html.mm-opened .mm-page {
  height: 100%;
  overflow: hidden;
  position: absolute; }

html.mm-background .mm-page {
  background: inherit; }

#mm-blocker {
  background: #fff;
  opacity: 0;
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999; }

html.mm-opened #mm-blocker,
html.mm-blocking #mm-blocker {
  display: block; }

.mm-menu.mm-current {
  display: block; }

.mm-menu {
  background: inherit;
  display: none;
  overflow: hidden;
  height: 100%;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0; }

.mm-menu > .mm-panel {
  background: inherit;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 0; }

.mm-menu > .mm-panel.mm-opened {
  left: 0%; }

.mm-menu > .mm-panel.mm-subopened {
  left: -40%; }

.mm-menu > .mm-panel.mm-highest {
  z-index: 1; }

.mm-menu > .mm-panel.mm-hidden {
  display: block;
  visibility: hidden; }

.mm-menu .mm-list {
  padding: 20px 0; }

.mm-menu > .mm-list {
  padding: 20px 0 40px 0; }

.mm-panel > .mm-list {
  margin-left: -20px;
  margin-right: -20px; }

.mm-panel > .mm-list:first-child {
  padding-top: 0; }

.mm-list,
.mm-list > li {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0; }

.mm-list * {
  -webkit-text-size-adjust: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-shadow: none; }

.mm-list a,
.mm-list a:hover {
  text-decoration: none; }

.mm-list > li {
  position: relative; }

.mm-list > li > a,
.mm-list > li > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: inherit;
  line-height: 20px;
  display: block;
  padding: 10px 10px 10px 20px;
  margin: 0; }

.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-noresults)::after {
  content: '';
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0; }

.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-noresults):after {
  width: auto;
  margin-left: 20px;
  position: relative;
  left: auto; }

.mm-list a.mm-subopen {
  width: 40px;
  height: 100%;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2; }

.mm-list a.mm-subopen::before {
  content: '';
  border-left-width: 1px;
  border-left-style: solid;
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.mm-list a.mm-subopen.mm-fullsubopen {
  width: 100%; }

.mm-list a.mm-subopen.mm-fullsubopen:before {
  border-left: none; }

.mm-list a.mm-subopen + a,
.mm-list a.mm-subopen + span {
  padding-right: 5px;
  margin-right: 40px; }

.mm-list > li.mm-selected > a.mm-subopen {
  background: transparent; }

.mm-list > li.mm-selected > a.mm-fullsubopen + a,
.mm-list > li.mm-selected > a.mm-fullsubopen + span {
  padding-right: 45px;
  margin-right: 0; }

.mm-list a.mm-subclose {
  text-indent: 20px;
  padding-top: 30px;
  margin-top: -20px; }

.mm-list > li.mm-label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 10px;
  text-transform: uppercase;
  text-indent: 20px;
  line-height: 25px;
  padding-right: 5px; }

.mm-list > li.mm-spacer {
  padding-top: 40px; }

.mm-list > li.mm-spacer.mm-label {
  padding-top: 25px; }

.mm-list a.mm-subopen:after,
.mm-list a.mm-subclose:before {
  content: '';
  border: 2px solid transparent;
  display: block;
  width: 7px;
  height: 7px;
  margin-bottom: -5px;
  position: absolute;
  bottom: 50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.mm-list a.mm-subopen:after {
  border-top: none;
  border-left: none;
  right: 18px; }

.mm-list a.mm-subclose:before {
  border-right: none;
  border-bottom: none;
  margin-bottom: -15px;
  left: 22px; }

.mm-menu.mm-vertical .mm-list .mm-panel {
  display: none;
  padding: 10px 0 10px 10px; }

.mm-menu.mm-vertical .mm-list .mm-panel li:last-child:after {
  border-color: transparent; }

.mm-menu.mm-vertical .mm-list li.mm-opened > .mm-panel {
  display: block; }

.mm-menu.mm-vertical .mm-list > li.mm-opened > a.mm-subopen {
  height: 40px; }

.mm-menu.mm-vertical .mm-list > li.mm-opened > a.mm-subopen:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 16px;
  right: 16px; }

html.mm-opened .mm-page {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }

.mm-ismenu {
  background: #333333; }

.mm-menu {
  color: rgba(255, 255, 255, 0.6); }

.mm-menu .mm-list > li:after {
  border-color: rgba(0, 0, 0, 0.15); }

.mm-menu .mm-list > li > a.mm-subclose {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.3); }

.mm-menu .mm-list > li > a.mm-subopen:after, .mm-menu .mm-list > li > a.mm-subclose:before {
  border-color: rgba(255, 255, 255, 0.3); }

.mm-menu .mm-list > li > a.mm-subopen:before {
  border-color: rgba(0, 0, 0, 0.15); }

.mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen),
.mm-menu .mm-list > li.mm-selected > span {
  background: rgba(0, 0, 0, 0.1); }

.mm-menu .mm-list > li.mm-label {
  background: rgba(255, 255, 255, 0.05); }

.mm-menu.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
.mm-menu.mm-vertical .mm-list li.mm-opened > ul {
  background: rgba(255, 255, 255, 0.05); }

html.mm-opened.mm-opening .mm-page,
html.mm-opened.mm-opening #mm-blocker,
html.mm-opened.mm-opening .mm-fixed-top,
html.mm-opened.mm-opening .mm-fixed-bottom {
  left: 80%; }

.mm-menu {
  width: 80%; }

@media all and (max-width: 175px) {
  .mm-menu {
    width: 140px; }

  html.mm-opened.mm-opening .mm-page,
  html.mm-opened.mm-opening #mm-blocker,
  html.mm-opened.mm-opening .mm-fixed-top,
  html.mm-opened.mm-opening .mm-fixed-bottom {
    left: 140px; } }
@media all and (min-width: 550px) {
  .mm-menu {
    width: 440px; }

  html.mm-opened.mm-opening .mm-page,
  html.mm-opened.mm-opening #mm-blocker,
  html.mm-opened.mm-opening .mm-fixed-top,
  html.mm-opened.mm-opening .mm-fixed-bottom {
    left: 440px; } }
html.mm-nooverflowscrolling.mm-opened {
  height: auto;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll; }

html.mm-nooverflowscrolling.mm-opened body {
  overflow: auto; }

html.mm-nooverflowscrolling.mm-opened .mm-page {
  min-height: 1000px;
  position: fixed; }

html.mm-nooverflowscrolling.mm-opened .mm-menu {
  height: auto;
  min-height: 1000px;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  left: auto;
  top: auto; }

html.mm-nooverflowscrolling.mm-opened > .mm-panel {
  position: relative;
  height: auto;
  display: none;
  left: 0; }

html.mm-nooverflowscrolling.mm-opened > .mm-panel.mm-current {
  display: block; }

.btn-white {
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  border: none;
  background: transparent;
  text-align: center;
  text-decoration: none;
  margin: 0;
  display: inline-block;
  white-space: no-wrap;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out; }
  .btn-white:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }

.btn-primary {
  color: #e3626e;
  font-size: 18px;
  border: 1px solid #e3626e;
  padding: 12px 30px 12px 30px; }
  .btn-primary:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer; }

.btn-white {
  border-radius: 5px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 12px 20px 12px 20px;
  border: 2px solid white;
  color: white; }
  .btn-white:hover {
    color: #1637b0;
    border-color: #1637b0; }

.btn-secondary {
  color: white;
  width: 200px;
  font-size: 14px;
  background-color: #1637b0;
  padding: 15px 25px 15px 25px; }
  .btn-secondary:hover {
    background-color: #e3626e;
    color: white; }
  .btn-secondary a {
    color: white !important; }

.btn-xs {
  font-size: 12px;
  padding: 10px 20px 10px 20px; }

.btn-sm {
  font-size: 14px;
  padding: 12px 25px 12px 25px;
  width: 100px; }

.btn-md {
  font-size: 18px;
  padding: 12px 25px 12px 25px; }

.btn-lg {
  font-size: 24px;
  padding: 6px 15px 5px 15px; }

.btn-xl {
  font-size: 20px;
  padding: 10px 20px 10px 20px; }

.btn-block {
  display: block;
  width: 100%;
  margin-bottom: 16px; }

.floatRight {
  float: right; }

.floatLeft {
  float: left; }

.block {
  display: block; }

.inline li {
  display: inline;
  margin: 0 60px 0 0; }

.inline-block {
  display: inline; }

.center-block {
  display: block;
  margin: auto; }

.clearfix {
  clear: both; }

.uppercase {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px; }

.capitalize {
  text-transform: capitalize; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.show {
  display: block !important; }

.hidden {
  display: none !important;
  visibility: hidden !important; }

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #1637b0;
  font-weight: normal;
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 12px; }
  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 22px; } }

h2 {
  color: #1637b0;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 12px; }
  @media only screen and (max-width: 480px) {
    h2 {
      font-size: 14px; } }

h3 {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.5;
  margin-bottom: 12px; }

h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.16667em;
  line-height: 1.5;
  margin-bottom: 12px; }

h5 {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 12px; }

.heading-lines {
  border-top: 1px solid black;
  text-align: center;
  margin-top: 20px; }
  .heading-lines h2 {
    position: relative;
    text-transform: uppercase;
    color: #222;
    background-color: white;
    display: inline;
    padding: 0 15px;
    top: -12px;
    letter-spacing: 3px;
    font-size: 18px; }
    .heading-lines h2:after {
      display: none; }

.statement {
  font-family: Times;
  font-size: 22px; }

.x-large {
  font-size: 60px;
  line-height: 1.5; }

.regular {
  font-family: 'brandon_regular'; }

.medium {
  font-family: 'brandon_medium'; }

.bold {
  font-family: 'brandon_bold'; }

.small {
  font-size: 18px; }

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 24px; }
  p:last-child {
    margin-bottom: 0; }
  p a {
    text-decoration: underline; }
  @media only screen and (max-width: 480px) {
    p {
      font-size: 14px; } }

.lead {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 24px; }
  @media only screen and (max-width: 480px) {
    .lead {
      font-size: 14px; } }

strong {
  font-family: 'brandon_bold'; }

ul {
  margin-bottom: 24px; }

li {
  font-size: 1.5em; }

a {
  color: #1637b0;
  text-decoration: none; }
  a:hover {
    color: #e3626e; }

figcaption {
  font-size: 14px;
  margin-bottom: 16px; }