%header
	.container
		%a.logo.floatLeft{:href => "index.html"}

		%nav.primary-nav.floatRight

			%ul
				%li 
					%a{:href => "philosophy.html"} Philosophy
				%li 
					%a{:href => "services.html"} Services
				%li 
					%a{:href => "model.html"} Model
				%li 
					%a{:href => "team.html"} Team
				%li 
					%a{:href => "contact.html"} Contact
		.clear

	
					
				