// ================================================================================================
// Typography
// ================================================================================================




// Headings
// ================================================================================================


h1 {
	@include heading-style;
	color: $colour-primary;
	font-weight: normal;
	font-size: 32px;
	line-height: 1.5;
	margin-bottom: $base-line-height * 3;

	@include respond-to($iphone-landscape) {
		font-size: 22px;
	}
}

h2 {

	color: $colour-primary;

	font-weight: normal;
	font-size: 24px;
	line-height: 1.5;
	margin-bottom: $base-line-height * 3;

	@include respond-to($iphone-landscape) {
		font-size: 14px;
	}
}

h3 {
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 1.5;
	margin-bottom: $base-line-height * 3;
}

// Paragraphs
// ================================================================================================


p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: $base-line-height * 12;

	&:last-child {
		margin-bottom: 0;
	}

	a {
		text-decoration: underline;
	}

	@include respond-to($iphone-landscape) {
		font-size: 14px;
	}
}

.lead {
	font-size: 24px;
	line-height: 1.5;
	margin-bottom: $base-line-height * 8;

	@include respond-to($iphone-landscape) {
		font-size: 14px;
	}
}

// Lists
// ================================================================================================

ul {
	margin-bottom: $base-line-height * 6;
}

li {
	font-size: em-font(18px);
}


// Links
// ================================================================================================

a {
	color: $colour-primary;
	text-decoration: none;
	@include transition;

	&:hover {
		color: darken($colour-primary, 30%);
	}
}
