// ================================================================================================
// Layout
// ================================================================================================

.blocks {

	margin: 0;
	
	li {
		@extend .col;

		list-style-type: none;
		
	}
}

.blocks-2 {
	
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		float: left;
		@extend .span_1_of_2;
		margin-bottom: 30px;
	}
}



.blocks-3 {

	li {
		@extend .span_1_of_3;
		height: 200px;
		margin-bottom: 30px;
		
		&:nth-child(4n) {
			margin-left: 0;
		}
	}
}


.blocks-4 {

	li {
		@extend .col;
		@extend .span_1_of_4;
		float: left;
		list-style-type: none;		

		&:nth-child(5n) {
			margin-left: 0;
		}
	}

}


.blocks-6 {

	li {
		@extend .col;
		@extend .span_1_of_6;
		float: left;
		list-style-type: none;		

		&:nth-child(3n+1) {
			margin-left: 0;
		}
	}

}

// Container
// ================================================================================================

.container-site {
	position: relative;
	width: 90%;
	max-width: $site-width;
	
	margin: 0 auto;
}

.container-narrow {
	width: 90%;
	max-width: 600px;
	margin: auto;
}

.page-content {
	padding: 60px 0 0 0;
}

// Sections
// ================================================================================================

.l-intro {
	@include bg-image;
	position: relative;
	background-image: url('../assets/images/hero/Set_11.jpg');
	height: 100%;


}

.home {
	footer {
		padding: 0;
	}
}


.bt-1 {
	border-top: 1px solid #E2E2E1;
}

.strap-line {
	text-align: center;
	color: $colour-accent;
	font-family: "adobe-caslon-pro";
	font-style: italic;
	font-size: 30px;

	max-width: 600px;
	margin: 40px auto 40px;

	@include respond-to($iphone-landscape) {
		font-size: 20px;
	}
}

// Layout Configuration
// ================================================================================================

section, article {
	
	position: relative;
	padding: 100px 0 100px 0;
	clear: both;

	&:last-child {
		margin: 0;
	}

	@include respond-to($iphone-landscape) {
		padding: $base-line-height * 8 0 $base-line-height * 8 0;
	}
}

.group {

	display: block;
	margin: $base-line-height * 6 0 $base-line-height * 6 0;

	&:after {
    	display: block;
    	content: ".";
    	height: 0;
    	clear: both;
    	visibility: hidden;
	}
}

.col {

	float: left;
	display: block;

	margin: 1% 0 1% $gutter;

	&:first-child {
		margin-left: 0;
	}



}

// 2 Columns
// ================================================================================================

.span_1_of_2 {
	width: 45%;
	@include respond-to ($ipad-portrait) {
		width: 100%;
	}
}

.span_2_of_2 {
	width: 100%;
}

// 3 Columns
// ================================================================================================

.span_3_of_3 {
	width: 100%;
	@include respond-to($ipad-portrait);
}
.span_2_of_3 {
	width: 66%;
	@include respond-to($ipad-portrait) {
		width: 100%;
	}
}
.span_1_of_3 {
	width: 32%;
	@include respond-to($ipad-portrait) {
		width: 100%;
	}
}

// 4 Columns
// ================================================================================================

.span_1_of_4 {
	width: 22%;
	@include respond-to($ipad-portrait) {
		width: 100%;
	}
}

.span_1_of_7 {
	width: 16%;
}

.span_6_of_7 {
	width: 82%;
}






