// ================================================================================================
// Colours 
// ================================================================================================

$beige : #F1F1F1;


$colour-accent            : #E3626E;
$colour-primary            : #1637B0;
$colour-secondary            : white;



// Blues 
// ================================================================================================

$lighterBlue								: #ADDEE9;
$lightBlue									: #76CFDE;
$darkBlue									: #1BAEDF;

// Greens
// ================================================================================================

$lighterGreen								: #B3DED5;
$lightGreen									: #76C9B8;
$darkGreen 									: #00D0AC;

// Reds
// ================================================================================================

$lighterRed									: #F2B6B5;
$lightRed 									: #F79897;
$darkRed									: #F46762;

// Oranges
// ================================================================================================

$lighterOrange								: #F4D9AE;
$lightOrange								: #EFC880;
$darkOrange									: #F6BA49;


// Blacks & Greys
// ================================================================================================
 
$black 										: #000000;
$lighterGrey								: #E0E0E0;
$lightGrey									: #5D5C5D;
$darkGrey									: #373737;


// ================================================================================================
// Media Queries
// ================================================================================================


$iphone-portrait: 320px;
$iphone-landscape: 480px;
$ipad-portrait: 768px;
$ipad-landscape: 1024px;
$desktop: 1224px;
$desktop-large: 1824px;


// ================================================================================================
// Typography
// ================================================================================================

$primary-font-family					     : "proxima-nova", Helvetica, Arial, sans-serif;
$secondary-font-family						 : "adobe-caslon-pro", Georgia, Times, serif;

// Baseline
// ================================================================================================

$base-font-size							     : 12px; 				
$base-line-height						     : 4px;	 
$round-to-nearest-half-line	                 : false;  	// Round the line height to the nearest half line height. Off by default




// ================================================================================================
// Canvas
// ================================================================================================

$site-width                                  : 1000px;
$border-size							                   : 2px;
$border-radius							                  : 3px;


// ================================================================================================
// Layout
// ================================================================================================

$gutter						                  : 2%;



// ================================================================================================
// Functions
// ================================================================================================

@function emify($target, $context) {
   @if $target == 0 { @return 0 }
   @return $target / $context + 0em;
}

// Make px to ems using base-font-size
// echo as: font-size: em-font(#px);

@function em-font($target, $context: $base-font-size) {
   @return emify($target, $context);
}


// Make px to ems using base-line-height
// echo as: font-size: em-base(#px);

@function em-base($target, $context: $base-line-height) {
   @return emify($target, $context);
}
