<!-- @include _header -->
<!-- @include _nav -->

.hero.hero-contact
	:plain
		<iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=207868692535093375127.0004f32e5f55fc3e97025&amp;ie=UTF8&amp;ll=51.506085,-0.136208&amp;spn=0,0&amp;t=m&amp;output=embed"></iframe>

.container-narrow
	.contact-details
		.email
			%a{:href=> "mailto:atlantis@atlantiscapital.co.uk"} atlantis@atlantiscapital.co.uk
		.details
			+44 (0)20 7870 9310    &bull;    40-41 Pall Mall, London, SW1Y 5JG

<!-- @include _footer -->