%header.homepage
	.container
		%a.logo.floatLeft{:href => "index.html"}

		%nav.primary-nav.floatRight

			%ul
				%li 
					%a{:href => "philosophy.html"} Philosophy
				%li 
					%a{:href => "#services"} Services
				%li 
					%a{:href => "#model"} Model
				%li 
					%a{:href => "#team"} Team
				%li 
					%a{:href => "#contact"} Contact
		.clear

	
					
				