.col.span_1_of_4
	%nav.side-nav
		%ul
			%li 
				%a{:href => 'about.html'} About
			%li 
				%a{:href => 'returns.html'} Returns
			%li 
				%a{:href => 'privacy_policy.html'} Privacy Policy
			%li 
				%a{:href => 'team.html'} Team
			%li 
				%a{:href => 'terms_conditions.html'} Terms & Conditions
			%li 
				%a{:href => 'contact.html'} Contact